.form{
    text-align: center;
    justify-content: center;
    font-family: sans-serif;
}
.container{
    padding: 0 5%;
}
.commen{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    margin-top: 0.8rem;
}
.commen input{
    padding: 0.5rem;
}
button{
    background-color: #000;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 1rem;
    transition: all .3s ease;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: #fff;
    cursor: pointer;
}
select{
    padding: 0.7rem;
}
.alert{
    width: 100%;
    background: rgb(0, 255, 106);
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    display: none;
}